
// Color
// Background
$Back-color1: #0D1B2A;
$Back-color2: #1B263B;
$Back-color3: #0063A7;
$Back-color4: #E0E1DD;
$Back-color5: #6C6B9E;

// Text
$Text-color1: #0D1B2A;
$Text-color2: #0063A7;
$Text-color3: #14B052;
$Text-color4: #B40C3E;
$Text-color5: #F0C808;
$Text-color6: #9596A9;
$Text-color7: #6C6B9E;

// Font-size

$Font-titre: 32px;
$Font-text:18px;
$Font-soustext:16px;
$Font-cta:24px;
$Font-titrebloc:22px;


// Font family
$Font-fam1:'Assistant';
$Font-fam2:'Playfair Display';