.connection-form{
    display:flex;
    .form-container{
        display: flex;
        width: 20%;
        list-style-type: none;
        align-items: center;
        position: absolute;
        top:3.3%;
        right:10%;
    }
}