@import './components/Colors.scss';
@import './components/Mixin.scss';




.list-users {
    padding-top: 140px;
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      tbody {
        tr {
          &:hover {
            background-color: #f9f9f9;
          }
        }
      }
  
      button {
        padding: 5px 10px;
        border: none;
        background-color: #ddd;
        color: #333;
        cursor: pointer;
  
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
  