@import './components/Colors.scss';
@import './components/Mixin.scss';


.all-Indice {
  padding-top:105px;
  border: 2px solid $Text-color7;
  border-top: none;
  margin-top: 0;
  width: 50%;
  
  .pannel{
    
    background-color: red;
    position: absolute;
    left:0%; 
    
    
  }

  
  .open-position{
    background-image: url(./../images/salles/image-entete-chat.png);
    padding:1em;
    margin-top: 0;
    display: flex;
    border: 2px solid $Text-color7;
    .openposition-barre{
      padding-right: 2em;
    }

      .barre-trade{
        border-left: 1px solid white;
        padding-left: 2em;
        

      }
}
.titresalle{
  h1{
    font-family:$Font-fam2;
    border-bottom: 1px solid $Text-color7;
    padding: 0.5em;
  }

}
.msgContainer {
  height: 50vh;
  margin: 0.2em;
  overflow-y: auto;

}
.msgContainerAdmin{
  height: 50vh;
  margin: 0.2em;
  overflow-y: auto;
  
  
  
}
.publicAnnonce{
  display: flex;
  border-top: 2px solid $Text-color7;
  .img-public{
    width: 18%;
    padding: 1em;
    border-right: 2px solid $Text-color7;
    margin-left: 0;
  }
  .annonceplublicadmin{
    margin: 0;
    text-align: center;
    height: 50%;
    translate: 0 50%;
    width: 82%;
  }
}

}