@import './components/Colors.scss';

.titre-page{
    padding-top: 140px;
    h1{
        color:$Text-color2;
        margin-left: 2em;
        margin-bottom: 1em;
        font-family: 'Playfair Display';
    }
}
